<div class="container mb-5  ">
  <%= simple_form_for client do |f| %>
    <%= f.input :clientname %>
    <%= f.input :cpf %>
    <%= f.input :email %>
    <%= f.submit "Submit", class: "btn-order mt-2 mb-3 w-100" %>
  <% end %>
</div>
